.page-main {
    background-color: #cacaca;
    font-family: "Righteous", cursive;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-container {
      background-color: rgb(130, 168, 245);
      border-radius: 4px;
  
      padding: 4rem;
      width: 25%;
      box-shadow: 2px 2px 4px 2px rgb(221, 235, 248);
      display: flex;
      flex-direction: column;
    }
    .form-items {
      margin: 0.5rem;
  
      input {
        padding: 0.4rem;
        width: 100%;
        border: thin solid rgb(133, 133, 133);
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }
  .btn {
    background-color: rgb(71, 40, 207);
    color: #dbdbdb;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    &:hover {
      background-color: #7198ec;
      color: rgb(13, 27, 13);
     
    }
    &:active {
      background-color: #20232a;
      color: rgb(84, 224, 84);
      color: darkgray;
    }
  }

  .disabled{
      background-color: rgb(137, 166, 221);
  }