<div class="page-main">
    <div class="form-container">

        <h2>Login Page</h2>
      <form [formGroup]="loginForm" (ngSubmit) = "toggleSubmit($event)">  
    
        <div class="form-items">
          <input type="text" name ="username" class="username"  placeholder="username"  formControlName="username" required > 
       
        </div>
  
        <div class="form-items">
          <input type="password" name="password" class="password" placeholder="password"  formControlName="password" required>
        </div>
  
        <div class="form-items">
          <button class="btn" [ngClass] = "{ disabled : !loginForm.valid}"  [disabled]="!loginForm.valid">Login</button>
        </div>
  
      </form>
    </div>
  </div>
